/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-brand > strong {
        display: none;
    }

    .carousel {
        margin-top: 59px;
    }
    
    .card-body > .row  {
        display: block;
        justify-content: none;
    }

    .content-header {
        margin: 5px;
        padding-top: 20px;
        border-bottom: 2px solid #000;
    }

    .content-header-top {
        padding-top: 79px;
    }

    .footer {
        height: 500px;
    }
    
    .footer-header {
        margin-top: 10px;
    }

    .justify-content-end  {
        justify-content: flex-start!important;
    }

    .container-fluid {
        padding-bottom: 500px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel {
        margin-top: 59px;
    }
    
    .card-body > .row  {
        display: block;
        justify-content: none;
    }

    .footer {
        height: 500px;
    }
    
    .footer-header {
        margin-top: 10px;
    }

    .justify-content-end  {
        justify-content: flex-start!important;
    }

    .container-fluid {
        padding-bottom: 500px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel {
        margin-top: 59px;
    }
    
    .card-body > .row  {
        display: block;
        justify-content: none;
    }

    .footer {
        height: 500px;
    }
    
    .footer-header {
        margin-top: 10px;
    }

    .justify-content-end  {
        justify-content: flex-start!important;
    }

    .container-fluid {
        padding-bottom: 500px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .justify-content-end  {
        justify-content: flex-start!important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}