.container-fluid {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    padding-bottom: 250px;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}


.carousel-indicators{
    display: none;
}


.card {
    border: none;
    padding: 20px;
}

.card:hover {
    background-color: #e6e6e6; 
    cursor: pointer;
}



.content-header {
    margin: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #000;
}

.content-header-top {
    margin-top: 79px;
}


.footer {
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 100%;
    color: #fff;
    background-color: #000;
    margin-top: 20px;

}

.content-phone {
    padding-left: 20px;
}

.content-phone  > i{
    padding-right: 20px;
}

.iconWrapper{
    display: table;
    width: 50px; 
    height: 50px; 
    background-color: #fff;
    border-radius: 999px;
    margin: 10px;
}

.iconWrapper > i{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000;
}

.icon-social-link:hover {
    text-decoration: none;
   
}

.iconWrapper:hover{ 
    background-color: #bfbfbf;
}


.footer-header {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    border-bottom: 1px solid #fff;
}

.footer-header > h6 {
    margin-bottom: 0px;
}



